{% extends "layout.html" %}
{% block body %}

{% if session["log"] %}
	<!--Login efetuado com sucesso -->

	<!-- <h1>Here goes the user login</h1> -->
{% else %}
	 <div class="container">
	 	<h1>Login</h1>
	 	<form action="" method="POST">
	 		<div class="form-group">
				<input type="text" name="name" class="form-control" placeholder="Name" required>
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="Password" required>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
	 	</form>
	 </div>
{% endif %}
{% endblock %}
