{% extends "layout1.html"%}
{% block body %}
<div class="container">
    <h1>Manutencao do Consentimento</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="nome" class="form-control" placeholder="Digite o nome do usuario">
            <br/>
            <input type="text" name="termouso" class="form-control" placeholder="Digite o termo do site">
            <br/>
            <input type="text" name="termousoapp" class="form-control" placeholder="Digite o termo do App">
            <br/>
            <button class="btn btn-primary" type="submit">Inserir</button>
        </div>
    </form>
</div>

{% endblock %}
